* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    letter-spacing: -.5px;
}

ul,
ol {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.flex-box {
    display:flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
}

//전역 변수
$b-raidus:5px;

//Color 
$main: rgba(190, 131, 131, 0.5);

#root {
    $rootpadding: 80px;
    $headerHeight: 125px;

    $topNav: 7vh;
    $leftNav:125px;
    $rightNav:$leftNav;

    padding: 0 0 0 $leftNav ;
    width: 100%;
    height:100vh;
    overflow: hidden;
    background:#f6f8fc;

    header {
        width: $leftNav;
        border-right:1px solid #555;
        z-index: 100;

        .logo {
            position: absolute;
            font-size: 30px;
        }

        nav {
            width: 100%;
            position:relative;

            &.top-nav {
                position:absolute;
                left:0;
                top:0;
                width:100vw;
                height:$topNav;
                background:#f6f8fc;
                z-index:2;

                ul {
                    position:absolute;
                    
                    &.register {
                        background:#fff;
                        border:2px solid #eee;
                        border-radius:10px;
                        top: 10%;
                        right: 1vw;
                        padding:10px 15px ;
                        transform: translateY(0);
                        display:inline-flex;
                        justify-content: space-between;
                        
                        li {
                            &.id {
                                color:rgb(65, 238, 13);
                               .id-text {
                                    color:#000;
                                    font-weight:400;
                                    margin-left:5px;
                               }
                            }
    
                            &.icon-box {
                                width:35%;
                                ul {
                                    display:flex;
                                    align-items: space-between;
                                    li {
                                        margin-right:15px;
                                        a {
                                            text-align:center;
                                        }
                                    }
                                }
                                a {
                                    text-align: center;
                                    display: block;
                                    font-size:18px;
                                    &.logout {
                                        cursor: pointer;
                                        color:red;
        
                                        &:hover {
                                            background: $main;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.left-nav {
                position:absolute;
                background:#eaf1fb;
                box-shadow:1px 1px 1px 1px #eeecec;
                left:0;
                top:0;
                width:$leftNav;
                height:100vh;
                z-index: 3;

                ul {
                    position:absolute;
                    top:50%;
                    left:0;
                    transform:translateY(-50%);
                    li {
                        width:100%;
                        position:relative;
                        text-align:center;
                        font-size: 16px;
                        padding: 20px 0px 20px 0px;
                    }
                }

                .description {
                    top:80%;
                }
            }
            &.right-nav {
                // position:absolute;
                // right:0;
                // height:100vh;
                // width:$rightNav;
                // top:0;
                // border-left:1px solid #000;
                // z-index:1;
            }
            >ul {
                width:100%;

                >li {
                    $t:.5s;
                    
                    position:relative;
                    transition:$t;
                    &:hover {
                        background:$main;
                        >a {
                            transition:$t;
                            color:#fff;
                            transform:scale(1.1);
                        }
                    }
                    a {
                        position:relative;
                        display: block;
                        width:100%;
                        height:100%;
                    }
                }
            }

            .depth1 {
                position:absolute;
                z-index:99;
                top:0;
                left:100%;
                width:130%;
                background:#fff;
                box-shadow: 1px 1px 1px 2px #eee;
                padding: 10px 5px;
                border-radius:5px;
                &.disYes {
                    display:block;
                }
                &.disNo {
                    display:none;
                }

                ul {
                    position:initial;
                    transform:initial;
                    li {
                        a {
                            z-index:99;
                        }
                    }
                }
            }
        }
    }

    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-y:scroll;
        $p: 5%;
        padding:0 $p;
        
        background:#fff;

        .loginForm {}

        .myName {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 99;
            transform: translate(-50%, -50%);
            display: flex;
            font-size: 100px;
            font-weight: 400;

            div {
                margin: 0 15px;
                position: relative;
                z-index: -1;
            }
        }

        .myPage {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            div {
                display: flex;

                p {
                    font-size: 18px;
                    padding: 10px 0 10px 10px;
                    color: #000;

                    &:first-of-type {
                        width: 35%;
                        font-weight: 700;
                    }

                    &:last-of-type {
                        width: 65%;
                    }
                }
            }

        }

        .board {
            margin-top:$topNav;
            width:100%;
            &-Mini {
                width:60%;
                position:absolute;
                left:50%;
                transform:translateX(-50%);
            }
    


            &-type {
                &-normal {
                    // box-shadow: 0px 0px 2px #888;
                    // border-radius: 10px;
                    padding: 5px 5% 0;

                    table {
                        width: 100%;
                        border-collapse: collapse;
                        // border-radius: $b-raidus;
                        overflow: hidden;

                        tbody {
                            tr {
                                th {
                                    padding-bottom: 5px;
                                    border-bottom: 1px solid $main;
                                    text-align: center;

                                    &:first-of-type {
                                        width: 10%
                                    }

                                    &:nth-of-type(2) {
                                        width: 53%;
                                    }

                                    &:nth-of-type(3) {
                                        width: 17%;
                                    }

                                    &:nth-of-type(4) {
                                        width: 10%;
                                    }

                                    &:nth-of-type(5) {
                                        width:20%;
                                    }

                                }

                                th {
                                    background: $main;
                                }

                                td {
                                    padding: 2px;
                                    border-bottom: 1px solid rgba(87, 79, 79, 0.5);
                                    text-align: center;
                                    &:nth-of-type(2), &:nth-of-type(5) {
                                        text-align:left;
                                    }
                                    &:nth-of-type(2) {
                                        padding-left:3%;
                                    }
                                    &:last-of-type {
                                    }
                                }
                            }
                        }
                    }
                }

                &-gallery {
                    table {
                        tbody {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            align-items: center;
                            tr {
                                width: 26%;
                                display: flex;
                                margin-bottom:2%;
                                flex-wrap: wrap;
                                border-radius:5px;
                                box-shadow:0px 0px 3px #888;
                                padding: 5px 10px;

                                &:first-of-type {
                                    width: 100%;
                                    display: none;
                                }

                                td {
                                    width: 100%;

                                    &.img {
                                        width: 100%;
                                        height: 100%;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    &.subject {
                                        a {
                                            font-size:23px;
                                            color:$main;
                                        }
                                    }
                                    &.user {
                                        font-size:13px;
                                        text-align:right;
                                    }
                                    &.time {
                                        font-size:13px;
                                        text-align:right;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-nav {
                display: flex;
                margin: 1% 0 0;
                >a {
                    display:block;
                    &.left {
                        margin-right:1%;
                    }
                    &.right {
                        margin-left:1%;
                    }
                }
            }

            &-ui {
                width: 100%;

                form {
                    width: 50%;
                    box-shadow: 0px 0px 5px #888;
                    border-radius: 5px;

                    $padding: 10px 0;
                    $padding-l: 20px;
                    $margin-r: 15px;
                    $width: 65%;

                    h2 {
                        font-size: 2em;
                        padding: $padding;
                        padding-left: $padding-l;
                    }

                    ul {
                        li {
                            display: flex;
                            padding: $padding;
                            position: relative;
                            align-items: center;
                            justify-content: flex-end;
                            $border: 1px solid #999;
                            border-top: $border;

                            &:last-of-type {
                                border-bottom: $border
                            }

                            label {
                                border-radius: 5px;
                                display: block;
                                width: 100% - $width;
                                font-size: 18px;
                                text-align: center;
                                line-height: 1.5em;
                            }

                            input {
                                border: 1px solid #999;
                                border-radius: 5px;
                                width: $width;
                                height: 25px;
                                margin-right: $margin-r;
                            }

                            p {
                                width:65%;
                            }

                            textarea {
                                border-radius: 5px;
                                border: 1px solid #999;
                                width: $width;
                                height: 35vh;
                                margin-right: $margin-r;
                            }
                        }

                    }

                    .btnArea {

                        padding: 0 20px 20px 0;
                    }
                }
            }

           
            &-content {
                width:100%;
                margin:auto;
                border-top:3px solid $main;

                .subjectLine {
                    justify-content: space-between;
                    align-items:center;
                    position:relative;
                    margin-bottom:20px;
                    border-bottom:.5px solid #cecdcd;
                    padding: 5px 20px 10px;
                }
                &-sbj {
                    width:100%;
                    padding-left:10px;
                    font-size:27px;
                    white-space:nowrap;
                }
                &-right {
                    display:flex;
                    justify-content: flex-end;
                    flex-wrap:wrap;
                    p {
                        color:#888;
                        line-height:2.2em;
                        font-size:17px;
                        $space: 15px;
                        &.hit {
                            margin-right:$space;
                        }
                        &.user {
                            font-size:17px;
                            line-height:2.2em;
                            margin-right:$space;
                        }
                        &.time {
                            line-height:2em;
                            margin-top:5px;
                            font-size:14px;
                        }
                    }
                    .btnArea {
                        width:100%;
                    } 
                }
                &-txt {
                    padding:0 20px;
                    min-height:200px;
                    height:100%;
                    font-size:14px;
                    white-space:pre-wrap;
                }
            }
            .btnArea {
                .reply-button {
                    width:100px;
                    &-x {
                        width:80px;
                    }
                }
            }

            .reply {
                margin-top:30px;
                border-top:3px solid $main;

                &-insert {
                    margin:20px 0;
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:flex-end;

                    textarea {
                        height: 70px;
                        width:100%;
                        border: 1px solid #b3b1b1;
                        margin-bottom:5px;
                        border-radius:5px;
                    }
                    .reply-button {
                        width: 80px;
                        padding: 10px 0;
                        margin: 0 2px;
                        background-color: $main;
                        border-radius: 10px;
                        font-weight: 700;
                        border: 0;
                        cursor: pointer;
                        box-shadow: 1px 1px 1px #888;
                    }
                }
                &-list {
                    .reply-info {
                        padding:7px 0;
                        border-bottom:.5px solid #ddd;
                        width:100%;
                        font-size:14px;
                        display:flex;
                        .reply-userId {
                            padding-left: 2%;
                            font-size:1em;
                            width:15%;
                        }
                        .reply-content {
                            width:70%;
                            padding:0 2%;
                            margin-right:5%;
                        }
                        .reply-time {
                            width:10%;
                            font-size:0.9em;
                            white-space: nowrap;
                        }
                        .reply-varValue {
                            width:5%;
                            text-align:center;
                            position: relative;
                            .reply-varValue-depth {
                                display:none;
                                position: absolute;
                                z-index:99;
                                width:120%;
                                top:0;
                                left:100%;
                                background:#fff;
                                &.on {
                                    display:block;
                                }
                                li {
                                    padding:2%;
                                    border:1px solid #cecdcd;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            ul {
                li {
                    display: flex;
                    margin: 5px 0;

                    label {
                        width: 40%;
                        margin-right: 10px
                    }

                    input {}
                }
            }
        }
    }
}

.description {
    background:#fff;
    border:1px solid #999;
    border-radius:5px;
    position:absolute;
    font-size:10px;
    left:50%;
    top:105%;
    transform:translateX(-50%);
    padding:5px 10px;
    display:none;
    z-index: 99;
    white-space:nowrap;
}

.btnArea {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .button {
        width: 75px;
        padding: 8px 0;
        margin: 0 4px;
        background-color: $main;
        border-radius: 7px;
        font-weight: 700;
        border: 0;
        font-size:14px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #888;
    }
}

@keyframes myName-right {
    0% {
        transform: rotate3d(.1, .7, .5, 120deg);
        right: 45%;
        opacity: 0;
    }

    100% {
        transform: rotate3d(1, 1, 1, 0deg);
        opacity: 1;
        right: 0;
    }
}